.div-header {
    padding: 20px 70px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
}

.div-nav {
    padding-left: 20px;
}

.nav-item {
    margin: 0px 20px;
}

.logo-name {
    padding: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.logo-view {
    align-content: center;
}